$color-gray-list: (
  '0': #f8f9fa,
  '1': #f1f3f5,
  '2': #e9ecef,
  '3': #dee2e6,
  '4': #ced4da,
  '5': #adb5bd,
  '6': #868e96,
  '7': #495057,
  '8': #343a40,
  '9': #212529,
) !default;
$color-gray-0: map-get($color-gray-list, '0') !default;
$color-gray-1: map-get($color-gray-list, '1') !default;
$color-gray-2: map-get($color-gray-list, '2') !default;
$color-gray-3: map-get($color-gray-list, '3') !default;
$color-gray-4: map-get($color-gray-list, '4') !default;
$color-gray-5: map-get($color-gray-list, '5') !default;
$color-gray-6: map-get($color-gray-list, '6') !default;
$color-gray-7: map-get($color-gray-list, '7') !default;
$color-gray-8: map-get($color-gray-list, '8') !default;
$color-gray-9: map-get($color-gray-list, '9') !default;
$color-primary: #7048e8 !default;
$color-secondary: $color-gray-7 !default;
$color-success: #37b24d !default;
$color-warning: #f59f00 !default;
$color-danger: #f03e3e !default;
$color-info: #1c7ed6 !default;

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

$font-stack: (
  'Raleway',
  'HelveticaNeue',
  'Helvetica Neue',
  helvetica,
  'Open Sans',
  arial,
  sans-serif,
  serif
) !default;

body {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-family: $font-stack;
}

*,
*::before,
*::after {
  font-family: inherit;
}
